{% load static %}
    <style>
        body {
            padding: 0;
            margin: 0;
            font-size: 0.8rem;
        }
        /* #HeaderMap {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 75vh;
        }
        .leaflet-container {
            height: 100%;
            width: 100%;
        } */
        .btnChosenFile {
            width: 15rem;
        }
        .noFocus:focus:not(:focus-visible){
            box-shadow: none;
            outline: 0;
        }
    </style>